<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VenusFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VenusFiles.Properties.Settings>
            <setting name="FilePath" serializeAs="String">
                <value>C:\VenusFiles\</value>
            </setting>
        </VenusFiles.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="smtpServerIP" value="192.168.3.86"/>
    <add key="smtpServerUsername" value="GROUP4SECURICOR\systems"/>
    <add key="smtpServerPassword" value="deposita"/>
    <add key="smtpFromAddress" value="systems@deposita.co.za"/>
    <add key="SmartDatabase" value="Data Source=10.54.16.5;Initial Catalog=CashTrack;User ID=sa;Password=w00f3ls!"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
